h3{
    margin-left: 1rem;
}

.grids{
    display: flex;
    justify-content: space-around;
}

.g-col{
    margin-top: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.274);
    width: 23%;
    display: flex;
}

P{
    margin-left: 1rem;
    font-size: 15px;
}